uvicorn
fastapi
pydantic
langchain
langgraph
langchain-community
langchain-core
python-multipart
langchain-huggingface
huggingface_hub
rank-bm25
sentence-transformers
pypdf
pinecone-client
pinecone
langchain-pinecone
python-dotenv
langchain-groq
langchain-openai
faiss-cpu
edge-tts
groq
langgraph-checkpoint-sqlite==3.1.0
tavily-python
laya
